# Specify Python version
python == 3.12.5

# Core Libraries
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0
scikit-learn==1.4.2
joblib==1.4.2

# Deep Learning
tensorflow==2.16.1
keras==3.3.3

# Natural Language Processing
spacy==3.7.4
